body {
     font-family: 'Akaya Telivigala', cursive;
      background: #1297f0;
     }
     .header_div {
          background: #4ecfd8;
           color: rgb(39, 36, 36); 
        }
        .header_div p{ 
            font-family: 'Roboto', sans-serif; 
            letter-spacing: 2px;
             font-size: 12px;
              font-weight: bold; 
            }
            .main_div button{
                 font-family: 'Roboto', sans-serif; margin-top: 30px;
                  width: 130px; 
                  font-weight: bolder;
                   letter-spacing: 3px;
                 }
                 .copy_right_footer {
                      position: fixed;
                      color: #0a121a;
                       bottom: 0;
                       width: 100%;
                        font-size: 18px;
                         background-color: #03abf8;
                          line-height: 3;
                           text-align: center;
                           text-shadow: 5px 5px 5px rgb(226, 233, 238);
                         }